<div class="naist-section">
    <b data-i18n="naist.takeover.status"></b>
    <div id="naist_takeover_state" class="naist-account"></div>
    <div id="naist_takeover_commands" class="naist-hint"></div>
    <div class="naist-row">
        <div id="naist_takeover_disable" class="menu_button menu_button_icon">
            <i class="fa-solid fa-right-left"></i><span data-i18n="naist.takeover.disable"></span>
        </div>
        <div id="naist_takeover_enable" class="menu_button menu_button_icon naist-hidden">
            <i class="fa-solid fa-rotate-left"></i><span data-i18n="naist.takeover.enable"></span>
        </div>
    </div>
</div>

<div class="naist-section">
    <b data-i18n="naist.takeover.migration"></b>
    <div id="naist_migration_state" class="naist-account"></div>
    <div class="naist-row">
        <div id="naist_migration_run" class="menu_button menu_button_icon">
            <i class="fa-solid fa-file-import"></i><span data-i18n="naist.takeover.migrate"></span>
        </div>
    </div>
    <ul id="naist_migration_report" class="naist-list"></ul>
</div>
